<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - projectA</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/projectA.styles.css" asp-append-version="true" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>
	<link rel="stylesheet" href="~/css/1.css" asp-append-version="true" />
</head>
<body>
    <header>
		<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
			<div class="container-fluid">
				<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/3.jpg"></a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
				</div>
			</div>
		</nav>
	
		<!-- Top Bar -->
		


		<!-- Header Main -->
		<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">VMT SHOP</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<header>

  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
					<div class="carousel-item active" style="background-image: url('https://media.gq.com/photos/6675abefe992621c388e65f2/16:9/w_1920,c_limit/GQ-Recommends-Joggers-3%20(2).jpg')">
        <div class="carousel-caption">
          <h5>First slide label</h5>
          <p>Some representative placeholder content for the first slide.</p>
        </div>
      </div>
					<div class="carousel-item" style="background-image: url('https://media.gq.com/photos/6675abefe992621c388e65f2/16:9/w_1920,c_limit/GQ-Recommends-Joggers-3%20(2).jpg')">
        <div class="carousel-caption">
          <h5>Second slide label</h5>
          <p>Some representative placeholder content for the second slide.</p>
        </div>
      </div>
					<div class="carousel-item" style="background-image: url('https://media.gq.com/photos/6675abefe992621c388e65f2/16:9/w_1920,c_limit/GQ-Recommends-Joggers-3%20(2).jpg')">
        <div class="carousel-caption">
          <h5>Third slide label</h5>
          <p>Some representative placeholder content for the third slide.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</header>

<!-- Page Content -->
<section class="py-5">
  <div class="container">
				<h1 class="fw-light">Tất cả mọi thứ về Quần Aó</h1>
				<p class="lead">Đường Link <a href="https://yame.vn/">VMT shop</a>!</p>
  </div>
</section>

		<!-- Main Navigation -->

		<nav class="main_nav">
			<div class="container">
				<div class="row">
					<div class="col">

						<div class="main_nav_content d-flex flex-row">

							<!-- Categories Menu -->
							<!-- Main Nav Menu -->								
										<div class="main_nav_menu">
											<ul class="standard_dropdown main_nav_dropdown">
												<li><a href="#">Home<i class="fas fa-chevron-down"></i></a></li>

												<vc:the-loai></vc:the-loai>

												<li class="hassubs">
													<a href="#">Featured Brands<i class="fas fa-chevron-down"></i></a>
													<ul>
														<li>
															<a href="#">Gucci<i class="fas fa-chevron-down"></i></a>
															<ul>
																<li><a href="#">2Hand<i class="fas fa-chevron-down"></i></a></li>
																<li><a href="#">Louis<i class="fas fa-chevron-down"></i></a></li>
																<li><a href="#">Pyke<i class="fas fa-chevron-down"></i></a></li>
															</ul>
														</li>
														<li><a href="#">LESTERON<i class="fas fa-chevron-down"></i></a></li>
														<li><a href="#">Lebron<i class="fas fa-chevron-down"></i></a></li>
														<li><a href="#">Speaker<i class="fas fa-chevron-down"></i></a></li>
													</ul>
												</li>
												<li class="hassubs">
													<a href="#">Pages<i class="fas fa-chevron-down"></i></a>
													<ul>
														<li><a href="shop.html">Shop<i class="fas fa-chevron-down"></i></a></li>
														<li><a href="product.html">Product<i class="fas fa-chevron-down"></i></a></li>
														<li><a href="blog.html">Blog<i class="fas fa-chevron-down"></i></a></li>
														<li><a href="blog_single.html">Blog Post<i class="fas fa-chevron-down"></i></a></li>
														<li><a href="regular.html">Regular Post<i class="fas fa-chevron-down"></i></a></li>
														<li><a href="cart.html">Cart<i class="fas fa-chevron-down"></i></a></li>
														<li><a href="contact.html">Contact<i class="fas fa-chevron-down"></i></a></li>
													</ul>
												</li>
												<li><a href="blog.html">Blog<i class="fas fa-chevron-down"></i></a></li>
												<li><a href="contact.html">Contact<i class="fas fa-chevron-down"></i></a></li>

											</ul>
										</div>

							<!-- Menu Trigger -->

							<div class="menu_trigger_container ml-auto">
								<div class="menu_trigger d-flex flex-row align-items-center justify-content-end">
									<div class="menu_burger">
										<div class="menu_trigger_text">menu</div>
										<div class="cat_burger menu_burger_inner"><span></span><span></span><span></span></div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</nav>

		<!-- Menu -->

		<div class="page_menu">
			<div class="container">
				<div class="row">
					<div class="col">

						<div class="page_menu_content">

							<div class="page_menu_search">
								<form action="#">
									<input type="search" required="required" class="page_menu_search_input" placeholder="Search for products...">
								</form>
							</div>
							<ul class="page_menu_nav">
								<li class="page_menu_item has-children">
									<a href="#">Language<i class="fa fa-angle-down"></i></a>
									<ul class="page_menu_selection">
										<li><a href="#">English<i class="fa fa-angle-down"></i></a></li>
										<li><a href="#">Italian<i class="fa fa-angle-down"></i></a></li>
										<li><a href="#">Spanish<i class="fa fa-angle-down"></i></a></li>
										<li><a href="#">Japanese<i class="fa fa-angle-down"></i></a></li>
									</ul>
								</li>
								<li class="page_menu_item has-children">
									<a href="#">Currency<i class="fa fa-angle-down"></i></a>
									<ul class="page_menu_selection">
										<li><a href="#">US Dollar<i class="fa fa-angle-down"></i></a></li>
										<li><a href="#">EUR Euro<i class="fa fa-angle-down"></i></a></li>
										<li><a href="#">GBP British Pound<i class="fa fa-angle-down"></i></a></li>
										<li><a href="#">JPY Japanese Yen<i class="fa fa-angle-down"></i></a></li>
									</ul>
								</li>
								<li class="page_menu_item">
									<a href="#">Home<i class="fa fa-angle-down"></i></a>
								</li>
								<li class="page_menu_item has-children">
									<a href="#">Super Deals<i class="fa fa-angle-down"></i></a>
									<ul class="page_menu_selection">
										<li><a href="#">Super Deals<i class="fa fa-angle-down"></i></a></li>
										<li class="page_menu_item has-children">
											<a href="#">Menu Item<i class="fa fa-angle-down"></i></a>
											<ul class="page_menu_selection">
												<li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
												<li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
												<li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
												<li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
											</ul>
										</li>
										<li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
										<li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
										<li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
									</ul>
								</li>
								<li class="page_menu_item has-children">
									<a href="#">Featured Brands<i class="fa fa-angle-down"></i></a>
									<ul class="page_menu_selection">
										<li><a href="#">Featured Brands<i class="fa fa-angle-down"></i></a></li>
										<li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
										<li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
										<li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
									</ul>
								</li>
								<li class="page_menu_item has-children">
									<a href="#">Trending Styles<i class="fa fa-angle-down"></i></a>
									<ul class="page_menu_selection">
										<li><a href="#">Trending Styles<i class="fa fa-angle-down"></i></a></li>
										<li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
										<li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
										<li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
									</ul>
								</li>
								<li class="page_menu_item"><a href="blog.html">blog<i class="fa fa-angle-down"></i></a></li>
								<li class="page_menu_item"><a href="contact.html">contact<i class="fa fa-angle-down"></i></a></li>
							</ul>

							<div class="menu_contact">
								<div class="menu_contact_item"><div class="menu_contact_icon"><img src="images/phone_white.png" alt=""></div>+38 068 005 3570</div>
								<div class="menu_contact_item"><div class="menu_contact_icon"><img src="images/mail_white.png" alt=""></div><a href="mailto:fastsales@gmail.com">fastsales@gmail.com</a></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

    </header>

    <div class="container">

        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

	<!-- Remove the container if you want to extend the Footer to full width. -->
	<div class="container my-5">

		<footer style="background-color: #eee6d3;">
			<div class="container p-4">
				<div class="row">
					<div class="col-lg-6 col-md-12 mb-4">
						<h5 class="mb-3 text-dark">footer content</h5>
						<p>
							Bật mí những cách phối đồ với áo polo Adam Store giúp bạn update phong cách lịch lãm, thời thượng trong dịp xuân hè này.

							Bắt nguồn từ môn tennis và golf ở thế kỷ 19, những chiếc áo polo nam luôn được coi là biểu tượng của sự giàu có và sang trọng. Theo thời gian, áo polo nam đã trở thành một trong những item không thể thiếu trong tủ đồ của phái mạnh dịp xuân hè. Trong bài viết này, hãy cùng Adam Store tìm hiểu những mẫu áo polo được phái mạnh yêu thích nhất, cùng cách phối đồ với item siêu hot này sao cho lịch lãm và cuốn hút nhé.
						</p>
					</div>
					<div class="col-lg-3 col-md-6 mb-4">
						<h5 class="mb-3 text-dark">Đường dẫn :</h5>
						<ul class="list-unstyled mb-0">
							<li class="mb-1">
								<a href="#!" style="color: #4f4f4f;">FQA</a>
							</li>
							<li class="mb-1">
								<a href="#!" style="color: #4f4f4f;">Vị Trí</a>
							</li>
							<li class="mb-1">
								<a href="#!" style="color: #4f4f4f;">Chi Tiết </a>
							</li>
							<li>
								<a href="#!" style="color: #4f4f4f;">Thủ Công</a>
							</li>
						</ul>
					</div>
					<div class="col-lg-3 col-md-6 mb-4">
						<h5 class="mb-1 text-dark">opening hours</h5>
						<table class="table" style="border-color: #666;">
							<tbody>
								<tr>
									<td>Từ Thứ 2 -> Thứ 6:</td>
									<td>8h sáng - 22h Tối</td>
								</tr>
								<tr>
									<td>Thứ 7 - Chủ Nhật:</td>
									<td>8h sáng - 13h chiều</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
				© 2020 Copyright:
				<a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a>
			</div>
			<!-- Copyright -->
		</footer>

	</div>
	<!-- End of .container -->
			<!-- Footer -->

		</div>
		<!-- End of .container -->
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/1.js" asp-append-version="true"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
