﻿@{
    ViewData["Title"] = "Home Page";
}


<header>
    <h2>GIỚI THIỆU</h2>
</header>

<section>
    <nav>
        <ul>
            <li><a href="~/trang-chu">Bản thân</a></li>
            <li><a href="~/gioi-thieu-nhom">Nhóm</a></li>
        </ul>
    </nav>

    <article>
        <h1>Vu Minh Thuan</h1>
        <p>------</p>
        <img src="~/images/2021-04-01 (6).png" style="width:100px;" />
    </article>
</section>

<footer>
    <p>Copyright &copy; Vu Minh Thuan - @DateTime.Now.Year</p>
</footer>